SENSOR_API_KEY=your-api-key-here

VIEW_PASSWORD=hoge

AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=ap-northeast-1

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
